- extends "layouts/layout.html.haml"

- set active_nav = "Global"
- set page_title = "Global Clients"
- set meta_desc = "We are international."

- block page_content
  .page-section.half-padding.theme-blue-gradient
    .row
      .align-center.medium-12.columns
        %h1 We're International

  .page-section.half-padding
    #global
