- extends "layouts/layout.html.haml"

- set meta_desc = "We are a digital design studio that delivers quality user interaction and user interface design for the web, mobile devices and apps."

- block page_content
  .row.collapse.hero--row
    .medium-12.columns
      %section.hero
        .hero--text-container
          %h2.hero--text We make software simple.

  %section.services.page-section
    .row
      .medium-12.columns
        %h2 Design services for product teams
        %p We design based on how people think and behave.
    .row
      .medium-3.columns
        %picture
          %source(srcset="/assets/img/icon-research@2x.png" media="(min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2)")
          %source(srcset="/assets/img/icon-research@3x.png" media="(min-resolution: 288dpi), (-webkit-min-device-pixel-ratio: 3)")
          %img(srcset="/assets/img/icon-research.png" alt="")
        %h3 Research & Analytics
        %p Good solutions are informed by well-defined problems. Studying your users and data tells you what’s wrong and why.
      .medium-3.columns
        %picture
          %source(srcset="/assets/img/icon-design@2x.png" media="(min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2)")
          %source(srcset="/assets/img/icon-design@3x.png" media="(min-resolution: 288dpi), (-webkit-min-device-pixel-ratio: 3)")
          %img(srcset="/assets/img/icon-design.png" alt="")
        %h3 Interface Design
        %p Frustrated customers directly affect your bottom line. Reduce friction and create delight by making your product easy to use.
      .medium-3.columns
        %picture
          %source(srcset="/assets/img/icon-prototyping@2x.png" media="(min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2)")
          %source(srcset="/assets/img/icon-prototyping@3x.png" media="(min-resolution: 288dpi), (-webkit-min-device-pixel-ratio: 3)")
          %img(srcset="/assets/img/icon-prototyping.png" alt="")
        %h3 Prototyping
        %p Building a new product or feature can be risky. We validate ideas so you cut costs and get immediate answers on feasibility.
      .medium-3.columns
        %picture
          %source(srcset="/assets/img/icon-strategy@2x.png" media="(min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2)")
          %source(srcset="/assets/img/icon-strategy@3x.png" media="(min-resolution: 288dpi), (-webkit-min-device-pixel-ratio: 3)")
          %img(srcset="/assets/img/icon-strategy.png" alt="")
        %h3 Product Strategy
        %p Brilliant execution is not enough. Build the right features at the right time by balancing business, design and technology.
    .row
      .medium-12.columns
        %p
        %a.button(href="#{path('services')}") Find out more

  %section.clients.page-section.theme-blue-gradient
    .row
      .medium-8.medium-centered.columns
        %h2 Clients we've worked with
        %p We’ve worked in beauty, insurance, travel, e-commerce, startups and more.

    .row
      .medium-12.columns
        %ul.clients-list
          %li
            %a(href="http://bellabox.com.au" target="_blank" rel="nofollow")
              %img(src="/assets/img/client-logos/bellabox.png" alt="Bellabox")
          %li
            %a(href="http://sg.creative.com" target="_blank" rel="nofollow")
              %img(src="/assets/img/client-logos/creative.png" alt="Creative Technology")
          %li
            %a(href="https://evernote.com" target="_blank" rel="nofollow")
              %img(src="/assets/img/client-logos/evernote.png" alt="Evernote")
          %li
            %a(href="http://www.aon.com/reinsurance" target="_blank" rel="nofollow")
              %img(src="/assets/img/client-logos/aon.png" alt="Aon Benfield")
          %li
            %a(href="http://www.neo.com" target="_blank" rel="nofollow")
              %img(src="/assets/img/client-logos/neo.png" alt="Neo Innovation")
          %li
            %a(href="http://sg.travelmob.com" target="_blank" rel="nofollow")
              %img(src="/assets/img/client-logos/travelmob.png" alt="travelmob")
          %li
            %a(href="http://www.shopabout.sg" target="_blank" rel="nofollow")
              %img(src="/assets/img/client-logos/shopabout.png" alt="ShopAbout")
          %li
            %a(href="https://indinero.com" target="_blank" rel="nofollow")
              %img(src="/assets/img/client-logos/indinero.png" alt="inDinero")
          %li
            %a(href="https://www.skinnymint.com" target="_blank" rel="nofollow")
              %i.client-logos-sprite.client-logos-skinnymint(title='SkinnyMint') SkinnyMint
              %img(src="/assets/img/client-logos/skinnymint.png" alt="SkinnyMint")
          %li
            %a(href="https://mesitis.com" target="_blank" rel="nofollow")
              %i.client-logos-sprite.client-logos-mesitis(title='Mesitis Capital') Mesitis Capital
              %img(src="/assets/img/client-logos/mesitis.png" alt="Mesitis Capital")
          %li
            %a(href="http://e27.co" target="_blank" rel="nofollow")
              %img(src="/assets/img/client-logos/e27.png" alt="e27")
          %li
            %a(href="http://www.day-lightstudios.com" target="_blank" rel="nofollow")
              %img(src="/assets/img/client-logos/daylight.png" alt="Daylight Studios")
          %li
            %a(href="http://www.ideo.com/sg" target="_blank" rel="nofollow")
              %img(src="/assets/img/client-logos/ideo.png" alt="IDEO")
          %li
            %a(href="http://packnada.com" target="_blank" rel="nofollow")
              %img(src="/assets/img/client-logos/packnada.png" alt="Packnada")
          %li
            %a(href="http://www.mti.gov.sg" target="_blank" rel="nofollow")
              %img(src="/assets/img/client-logos/mti.png" alt="Ministry of Trade and Industry, Singapore")

  %section.testimonials.page-section
    .row
      .medium-6.columns
        %blockquote
          "Mike and his team at Minitheory are great. Patient, methodical with
          high quality output. I’ll vouch for them!"
          %cite
            %figure
              %img(src="/assets/img/testimonial-tiang.jpg")
            %span Foo Tiang Lim, Evernote
      .medium-6.columns
        %blockquote
          "Minitheory was instrumental in our early growth phase,
          taking the product from beta to launch. Excellent work attitude
          and attention to detail."
          %cite
            %figure
              %img(src="/assets/img/testimonial-turochas.jpg")
            %span Turochas Fuad, travelmob
    .row
      .medium-6.columns
        %blockquote
          “We lucked out with Minitheory. They brought the vision to fruition
          through iterative designs. The close partnership made the entire project
          a joy to work on.”
          %cite
            %figure
              %img(src="/assets/img/testimonial-lindsey.jpg")
            %span Lindsey Chia, Creative Technology
      .medium-6.columns
        %blockquote
          "Mike and the Minitheory team are awesome. I've worked with them
          since the very beginning and they get things done!"
          %cite
            %figure
              %img(src="/assets/img/testimonial-jessica.jpg")
            %span Jessica Mah, inDinero
