- extends "layouts/layout.html.haml"

- set active_nav = "jobs"
- set page_title = "Work at Minitheory"
- set meta_desc = "We are big on work-life balance, having fun, learning and contributing to the design community."

- block page_content
  %p Placeholder content
