- extends "layouts/layout.html.haml"

- set active_nav = "jobs"
- set page_title = "Work at Minitheory"
- set meta_desc = "We are big on work-life balance, having fun, learning and contributing to the design community."

- block page_content
  .page-section.half-padding.theme-blue-gradient
    .row
      .align-center.medium-12.columns
        %h1 Want to be part of our team?

  .page-section.half-padding.theme-light-bg
    .row
      .medium-10.medium-centered.columns.align-center
        %h2.page-section-header
          We are big on work-life balance, having fun, learning and contributing
          to the design community.
        %p.lead
          At Minitheory, we help companies craft great user experiences for
          their products and services. You will experience the fun and
          excitement of being part of a young, fast-growing team working with
          companies from Silicon Valley, Singapore, China and beyond.

    .row
      %hr

    .row
      .medium-9.medium-centered.columns.align-center
        %h2.page-section-header We're always on the lookout for great talent.
        %p.lead
          We're always on the lookout for full-time hires or freelance
          engagements. Send your CV and work to jobs@minitheory.com. Tell us why
          you want to join Minitheory and why you think you'd be a good match.

    .row
      %hr

    .row
      .medium-12.columns
        %h2.page-section-header 8 reasons to work at Minitheory

  .page-section.half-padding.theme-blue-gradient
    .row
      .align-center.medium-12.columns
        %h2.page-section-header Everything is just a short walk away

  .page-section.half-padding
    .row
      .medium-12.columns
        %h2.page-section-header At Minitheory we prefer
