- extends "layouts/layout.html.haml"

- set active_nav = "services"
- set page_title = "List of services"
- set meta_desc = "We help our clients by offering Product, User Interface, and Web Design."

- block page_content
  .page-section.half-padding.theme-blue-gradient
    .row
      .align-center.medium-12.columns
        %h1 List of services

  .page-section.half-padding
    .row
      .medium-8.medium-offset-2.columns.align-center
        %h2.page-section-header What can we do for you?
        %p
          We provide and carry out a number of activities and services to deliver your product or project.
          %span.break The following is a list of some of these services and activities.

    .row
      .medium-10.medium-offset-1.columns
        .service-panel
          .service-panel-image
            %picture
              %source(srcset="/assets/img/icon-research@2x.png" media="(min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2)")
              %source(srcset="/assets/img/icon-research@3x.png" media="(min-resolution: 288dpi), (-webkit-min-device-pixel-ratio: 3)")
              %img(srcset="/assets/img/icon-research.png" alt="")
          .service-panel-text
            %h2 Learning
            %p
              We love computers, but it’s unfortunate that some software make us feel like idiots. We want to change that. We expect software to be intuitively designed &mdash; and ultimately, useful.
            %ul.service-panel-activities
              %li Contextual inquiry
              %li Interviews and focus groups
              %li Retrospective and progress review

        .service-panel
          .service-panel-image
            %picture
              %source(srcset="/assets/img/icon-design@2x.png" media="(min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2)")
              %source(srcset="/assets/img/icon-design@3x.png" media="(min-resolution: 288dpi), (-webkit-min-device-pixel-ratio: 3)")
              %img(srcset="/assets/img/icon-design.png" alt="")
          .service-panel-text
            %h2 Designing
            %p
              We love computers, but it’s unfortunate that some software make us feel like idiots. We want to change that. We expect software to be intuitively designed &mdash; and ultimately, useful.
            %ul.service-panel-activities
              %li Content inventory and audit
              %li Ideation workshop
              %li Key assumptions and risks identification
              %li User experience audit
              %li User journey mapping

        .service-panel
          .service-panel-image
            %picture
              %source(srcset="/assets/img/icon-product@2x.png" media="(min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2)")
              %source(srcset="/assets/img/icon-product@3x.png" media="(min-resolution: 288dpi), (-webkit-min-device-pixel-ratio: 3)")
              %img(srcset="/assets/img/icon-product.png" alt="")
          .service-panel-text
            %h2 Building
            %p
              We love computers, but it’s unfortunate that some software make us feel like idiots. We want to change that. We expect software to be intuitively designed  – and ultimately, useful. We want to change that. We expect software to be intuitively designed  – and ultimately, useful. We love computers, but it’s unfortunate that some software make us feel like idiots.
            %ul.service-panel-activities
              %li Art and visual direction
              %li Coding and development
              %li Design and interaction specifications
              %li Interface and interaction design
              %li Product prototyping workshop
              %li Technical specifications documentation

        .service-panel
          .service-panel-image
            %picture
              %source(srcset="/assets/img/icon-strategy@2x.png" media="(min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2)")
              %source(srcset="/assets/img/icon-strategy@3x.png" media="(min-resolution: 288dpi), (-webkit-min-device-pixel-ratio: 3)")
              %img(srcset="/assets/img/icon-strategy.png" alt="")
          .service-panel-text
            %h2 Measuring
            %p
              We love computers, but it’s unfortunate that some software make us feel like idiots. We want to change that. We expect software to be intuitively designed  – and ultimately, useful. We want to change that. We expect software to be intuitively designed  – and ultimately, useful. We love computers, but it’s unfortunate that some software make us feel like idiots.
            %ul.service-panel-activities
              %li Analytics review
              %li Cohort analysis
              %li Funnel analysis
              %li Goal analysis
              %li Task analysis

    .row
      .align-center.medium-10.medium-centered.columns
        .contact.page-section.half-padding
          %h1 Have a project in mind? Let's talk.

          %ul
            %li
              %img(src="/assets/img/contact-mike.png")
              %span.break Mike Chen
              %span.break CEO and Co-Founder
            %li
              %img(src="/assets/img/contact-sylvia.png")
              %span.break Sylvia Ng
              %span.break Project Manager

          %a.button(href="mailto:hi@minitheory.com") Email Us
