- extends "layouts/layout.html.haml"

- set activeNav = "services"
- set pageTitle = "Design Services for Product Teams"
- set metaDescription = "We help our clients by offering Product, User Interface, and Web Design."

- block page_content
  .page-section.half-padding.theme-blue-gradient
    .row
      .align-center.medium-12.columns
        %h1 Design services for product teams

  .page-section.half-padding.theme-light-bg
    .row
      .medium-12.columns
        %h2.page-section-header What can we do for you?

    .service-panel.row
      .medium-4.columns
        %img(src="/img/services-ui.jpg")
      .medium-8.columns
        .service-panel-details
          %h3.service-panel-header Increase customer satisfaction with an intuitive interface
          .row
            .medium-8.columns
              %ul
                %li Build the right features and make users fall in love with your SaaS product
                %li Satisfied customers who love your product are more likely to pay and stick around. That's always good news.
            .medium-4.columns
              %h4 What we'll do for you
              %ul
                %li Usability research
                %li Interaction design
                %li Visual interface design

    .service-panel.row
      .medium-4.columns
        %img(src="/img/services-tools.jpg")
      .medium-8.columns
        .service-panel-details
          %h3.service-panel-header Give them better tools, increase productivity in your company
          .row
            .medium-8.columns
              %ul
                %li Increase employee happiness with more intuitive work
                %li We'll study workflows to make sure the software is designed according to how they work
            .medium-4.columns
              %h4 What we'll do for you
              %ul
                %li Usability research
                %li Interaction design
                %li Visual interface design

    .service-panel.row
      .medium-4.columns
        %img(src="/img/services-analytics.jpg")
      .medium-8.columns
        .service-panel-details
          %h3.service-panel-header Increase conversion rates for your ecommerce website
          .row
            .medium-8.columns
              %ul
                %li We look at your numbers to find out what's wrong
                %li Conduct usability testing to find out why
                %li Give recommendations based on research data and best practices
            .medium-4.columns
              %h4 What we'll do for you
              %ul
                %li Conversion funnel analysis
                %li Expert review
                %li Analytics review
                %li Usability testing

    .service-panel.row
      .medium-4.columns
        %img(src="/img/services-style-guide.jpg")
      .medium-8.columns
        .service-panel-details
          %h3.service-panel-header Build a frontend framework to help your dev team ship faster
          .row
            .medium-8.columns
              %ul
                %li Provide art direction for visual design
                %li Good solid frontend foundation for your development team to work with
                %li Specs and style guides provide consistency in visual design
            .medium-4.columns
              %h4 What we'll do for you
              %ul
                %li Interaction design
                %li Visual interface design
                %li Style guide creation
