- extends "layouts/layout.html.haml"

- set active_nav = "work"
- set page_title = "Our Work"
- set meta_description = "A selection of our work. View each project to see how we have helped our clients."

- block page_content
  .theme-blue-gradient
    .row
      .page-section.half-padding.align-center.medium-12.columns
        %h1 Our Work

  .row
    .medium-12.columns
      .work-panels.page-section
        .bellabox.work-panel.double-height.double-width
          %a(href="#")
            %i.client-logos-large-sprite.client-logos-large-bellabox(title="Bellabox") Bellabox
        .ninja-accountant.work-panel
          %a(href="#")
            %i.client-logos-large-sprite.client-logos-large-ninjaaccountant(title="Ninja Accountant") Ninja Accountant
        .iji.work-panel
          %a(href="#")
            %i.client-logos-large-sprite.client-logos-large-iji(title="爱己") 爱己
        .indinero.work-panel.double-height.double-width
          %a(href="/work/indinero.html")
            %i.client-logos-large-sprite.client-logos-large-indinero(title="inDinero") inDinero
        .daylight-studios.work-panel
          %a(href="#")
            %i.client-logos-large-sprite.client-logos-large-daylight(title="Daylight Studios") Daylight Studios
        .glee-studio.work-panel.double-height
          %a(href="#")
            %i.client-logos-large-sprite.client-logos-large-gleestudios(title="Glee Studios") John & Deniece Glee Studios
        .skinnymint.work-panel
          %a(href="#")
            %i.client-logos-large-sprite.client-logos-large-skinnymint(title="SkinnyMint") SkinnyMint
        .travelmob.work-panel.double-height.double-width
          %a(href="#{path('work_travelmob')}")
            %i.client-logos-large-sprite.client-logos-large-travelmob(title="travelmob") travelmob
        .creative.work-panel.double-height.double-width
          %a(href="/work/creative.html")
            %i.client-logos-large-sprite.client-logos-large-creative(title="Creative Technologies") Creative Technologies
        .shopabout.work-panel.double-height
          %a(href="#")
            %i.client-logos-large-sprite.client-logos-large-shopabout(title="ShopAbout") ShopAbout
        .twin-galaxy.work-panel.double-height
          %a(href="#")
            %i.client-logos-large-sprite.client-logos-large-twingalaxy(title="Twin Galaxy") Twin Galaxy
        .packnada.work-panel
          %a(href="#")
            %i.client-logos-large-sprite.client-logos-large-packnada(title="Packnada") Packnada
        .mesitis.work-panel
          %a(href="#")
            %i.client-logos-large-sprite.client-logos-large-mesitis(title="Mesitis Capital") Mesitis Capital
