- extends "layouts/layout.html.haml"

- set page_title = "We Couldn't Find What You Were Looking For"

- block page_content
  .row
    .align-center.medium-12.columns
      .page-section
        %h2 Sorry
        %h1 We couldn't find what you were looking for
