- extends "layouts/layout.html.haml"

- set page_title = "Something Went Terribly Wrong"

- block page_content
  .row
    .align-center.medium-12.columns
      .page-section
        %h2 Sorry
        %h1 Something went terribly wrong
