.theme-blue-gradient
  .row
    .page-section.half-padding.align-center.medium-12.columns
      h2 We're Minitheory

.row
  .medium-12.columns
    ul
      li: a(href='/about/index.html') Company
      li: a(href='/about/culture.html') Culture
