footer
  .footer-cta.page-section.theme-dark-bg
    .row
      .medium-12.columns
        h2 Let's make things simple.
        a.button(href='#') Work with us
  #footer
    .row
      .medium-3.columns
        i.logo
        | &copy; 2012 &ndash; 2015 Minitheory Pte Ltd
      .align-center.footer-middle.medium-6.columns
        | 4B Jiak Chuan Road, Singapore 089261 /
        a(href='/contact.html')  Contact Us
      .align-right.medium-3.columns
        ul.social-icons
          li
            a(href='//dribbble.com/minitheory'): i.fa.fa-dribbble
          li
            a(href='//facebook.com/minitheory'): i.fa.fa-facebook
          li
            a(href='//www.linkedin.com/company/minitheory-design'): i.fa.fa-linkedin
