header
  .row
    .medium-7.columns
      a.logo(href='/') Minitheory
    .medium-5.columns
      ul.site-navigation
        li: a(href='#') Work
        li: a(href='services.html') Services
        li: a(href='#') Process
        li: a(href='#') About
        li: a.dark-border.button(href='#') Get in touch
