header
  .row
    .medium-7.columns
      a.logo(href='/') Minitheory
    .medium-5.columns
      ul.site-navigation.align-right
        li: a(href='/work.html', class=(activeNav == 'work' ? 'active' : '')) Work
        li: a(href='/services.html', class=(activeNav == 'services' ? 'active' : '')) Services
        li: a(href='/about/index.html', class=(activeNav == 'about' ? 'active' : '')) About
        li: a.dark-border.button(href='/contact.html') Get in touch
