header
  background-color: rgba(255, 255, 255, 0.92)
  padding: rem-calc(20px) 0
  position: fixed
  width: 100%
  z-index: 999

  .logo
    +retina-background(logo_landscape, png, 50px, 179px)
    display: block
    height: 50px
    text-indent: rem-calc(-9999px)
    width: 179px

ul.site-navigation
  font-size: rem-calc(14px)
  list-style: none
  margin: rem-calc(15px) 0
  li
    display: inline
    margin-right: rem-calc(30px)
    text-transform: uppercase
    a
      +transition(all 0.25s)
      color: $text-dark
      &:hover
        +transition(all 0.25s)
        border-bottom: solid 2px $accent
        color: $accent
        padding-bottom: rem-calc(6px)
      &.button
        +transition(all 0.25s)
        border: solid 1px $text-dark
        border-radius: $global-radius
        padding: rem-calc(15px) rem-calc(20px)
        &:hover
          +transition(all 0.25s)
          border-color: $accent
          background-color: $accent
          color: $white
