.hero
  background: no-repeat center center
  background-image: linear-gradient(rgba(255, 56, 105, 0.5), rgba(39,168,224,0.5)), url(../img/hero-image.jpg)
  display: table
  height: rem-calc(600)
  width: 100%

.hero--row
  max-width: rem-calc(1600)

.hero--text-container
  display: table-cell
  text-align: center
  vertical-align: middle

.hero--text
  color: $white
  font-size: rem-calc(56)
  font-weight: lighter
  line-height: rem-calc(60)

.services.page-section
  text-align: center

.clients.page-section
  text-align: center
  ul.clients-list
    margin-left: 0
    > li
      display: inline-block
      list-style: none
      padding-top: rem-calc(50)
      text-align: center
      width: 20%
      @media #{$medium-only}
        width: 25%
      @media #{$small-only}
        width: 50%

.testimonials
  img
    width: 70px
    height: 70px
    border-radius: rem-calc(35)
  blockquote
    font-style: italic
  cite
    font-style: normal
    font-weight: $font-weight-lighter
    margin-top: rem-calc(20)
    img
      margin-right: rem-calc(15)
    &:before
      content: none
