.service-panel
  margin-bottom: rem-calc(50)
  ul
    font-weight: $font-weight-lighter

.service-panel-header
  font-size: rem-calc(27)

.service-panel-details
  margin-top: rem-calc(50)
  > .row
    > .columns
      padding: rem-calc(13)
    > .columns:first-child
      border-right: solid 1px #d8d8d8
  .service-panel-header
    border-bottom: solid 1px #d8d8d8
    margin: 0
    padding-bottom: rem-calc(15)
  h4
    font-size: rem-calc(20)
