.work-panel
  background-color: #F00
  height: rem-calc(285)
  margin-bottom: rem-calc(10)
  width: rem-calc(285)
  &.double-height
    height: rem-calc(580)
  &.double-width
    width: rem-calc(580)
