- extends "work/_casestudy.html.haml"

- set active_nav = "work"
- set page_title = "Our Work | Creative Technologies"
- set meta_desc = "Learn more about our work for Creative Technologies, a provider of digital entertainment products."

- set case_study_class = "creative"
- set case_study_type = "Case Study"
- set case_study_name = "Creative Technologies"
- set case_study_headline = "The best website for the best in digital entertainment"
- set case_study_link_url = "//creative.com"

- block case_study_lead_content
  %p.lead
    Creative Technology's Sound Blaster sound card sparked the
    multimedia era of the PC in the 1990s and became a de facto
    standard for sound cards in PCs for many years. In addition to
    the design, manufacture and distribution of digitized sound and
    video boards, Creative also makes personal digital entertainment
    products.

- block case_study_details
  %ul
    %li Designed in 2012
    %li e-commerce website

- block case_study_services
  %ul
    %li User experience audit
    %li Information architecture
    %li Interaction design
    %li Art direction
    %li Visual interface design

- block case_study_credits
  %ul
    %li Mike Chen
    %li Lee Jun Lin

- block case_study_content
  .row
    .medium-8.medium-centered.columns
      %p
        %img(src="/assets/img/case-study-creative-macbook.png")

      %h3 Digital Refresh
      %p
        Creative’s then-current ecommerce website had been around for
        more than a decade and its age was showing. Besides a dated look
        and feel, there were also usability issues that were hindering
        navigation. In terms of site architecture, the online store was
        split from the product information pages. In addition, each
        product line had its own micro-site, each with a unique design.
        Although online sales were still strong in the European and
        North American markets, Creative risked losing business as
        conversion rates decreased. An overhaul was needed.

  .row
    .medium-8.medium-centered.columns
      %h3 Getting Creative
      %p
        We sat down together with the stakeholders to understand their goals
        for the revamp and work out a strategy together for the website. We
        found out that besides being an online storefront, the website also
        had to fulfill marketing and branding functions. These conversations
        with the stakeholders helped us map out what we wanted to achieve
        and what needed to be done.

      %p
        %img.drop-shadow(src="/assets/img/case-study-creative-product-listing.jpg")

      %h3 User Experience Audit
      %p
        The first thing we helped out with was the information architecture.
        We reorganized the website and made recommendations about product
        categories. This was followed by a discussion with the team
        regarding the data from the analytics they had already installed on
        their site. From there, we identified the pain points, and conducted
        a heuristic evaluation of the key drop-off points. This gave us a
        really good idea about which parts of the website needed improvement
        and which could be kept.

      %h3 Interaction Design
      %p
        A key component was the shopping cart and checkout process. We
        completely streamlined the checkout process to make it as easy as
        possible for Creative’s customers to complete their purchase.



      %h3 Visual Interface Design
      %p
        We completely reimagined Creative’s online presence. The art
        direction we provided informed the look and feel of all Creative
        sites worldwide

- block case_study_outcome_content
  .row
    .medium-8.medium-centered.columns
      %h2 What We Learned

      %h3 Collaborative Client Relationship
      %p
        We took the time to build a collaborative relationship with
        the client, working as a team to find answers to the problems
        we were solving. This approach helped to foster trust and
        momentum when it came to execution.

  .row
    .medium-10.medium-centered.columns
      %blockquote
        Working with the client as opposed to working for the client
        results in better work

- block case_study_related
  .medium-3.columns
    .bellabox.work-panel
      %a(href="#{path('work_bellabox')}")
        %i.client-logos-large-sprite.client-logos-large-bellabox(title="Bellabox") Bellabox
  .medium-3.columns
    .travelmob.work-panel
      %a(href="#{path('work_travelmob')}")
        %i.client-logos-large-sprite.client-logos-large-travelmob(title="travelmob") travelmob
  .medium-3.columns.end
    .indinero.work-panel
      %a(href="#{path('work_indinero')}")
        %i.client-logos-large-sprite.client-logos-large-indinero(title="inDinero") inDinero
