- extends "work/_casestudy.html.haml"

- set active_nav = "work"
- set page_title = "Our Work | ShopAbout"
- set meta_desc = "Learn more about our work for ShopAbout, a slimming tea delivery and e-commerce service."

- set case_study_class = "shopabout"
- set case_study_type = "Project"
- set case_study_name = "ShopAbout"
- set case_study_headline = "Helping retailers go online"

- block case_study_lead_content
  %p.lead
    ShopAbout is a leading online marketplace that helps traditional brick-and-mortar businesses gain a competitive edge by bringing them online. Minitheory was approached to design ShopAbout's mobile app.

- block case_study_details
  %ul
    %li Designed in 2014
    %li Mobile app
    %li E-commerce

- block case_study_services
  %ul
    %li Guerilla Usability Testing
    %li Interaction Design
    %li Visual Interface Design

- block case_study_credits
  %ul
    %li Charmaine Low
    %li Mike Chen
    %li Pizza Yap

- block case_study_content

  %p.image
    %img(src="/assets/img/case-study-shopabout-1.jpg")

  %p.image
    %img(src="/assets/img/case-study-shopabout-2.jpg")

- block case_study_related
  .medium-3.columns.end
    .aiji.work-panel
      %a(href="#{path('work_aiji')}")
        %i.client-logos-large-sprite.client-logos-large-aiji(title="爱己") 爱己
  .medium-3.columns
    .travelmob.work-panel
      %a(href="#{path('work_travelmob')}")
        %i.client-logos-large-sprite.client-logos-large-travelmob(title="travelmob") travelmob
  .medium-3.columns.end
    .creative.work-panel
      %a(href="#{path('work_creative')}")
        %i.client-logos-large-sprite.client-logos-large-creative(title="Creative") Creative