- extends "work/_casestudy.html.haml"

- set active_nav = "work"
- set page_title = "Our Work | travelmob"
- set meta_desc = "Learn more about our work for travelmob, an online marketplace for renting vacation stays."

- set case_study_class = "travelmob"
- set case_study_type = "Case Study"
- set case_study_name = "travelmob"
- set case_study_headline = "A traveller's journey from beta to launch"
- set case_study_link_url = "//travelmob.com"

- block case_study_details
  %ul
    %li Designed in 2013
    %li Website & iOS design

- block case_study_services
  %ul
    %li Usability research
    %li Interaction design
    %li Visual interface design

- block case_study_credits
  %ul
    %li Mike Chen
    %li Lee Jun Lin

- block case_study_lead_content
  %p.lead
    For years, people have had to deal with limited vacation lodging
    choices usually limited to hotels and holiday homes. What if you
    could experience what it is like to live like a local while on
    holiday? Enter the world of online social stay marketplace,
    travelmob, where users can find truly local accommodation, and
    even list their own apartments for rent, encouraging a more
    social travel experience.


- block case_study_content
  .row
    .medium-8.medium-centered.columns
      %h3 Going from Beta to Launch
      %p
        travelmob had a beta site up and running, but they were seeking
        a better user experience and interface in the lead up to their
        official launch. The challenge: balancing the short timeframe
        and the amount of work that needs to be done to their existing
        site, while improving overall usability.
  .row
    .image-container.before-header.medium-12.medium-centered.columns
      %figure
        %img(src="/assets/img/case-study-travelmob-old-vs-new.jpg")
        .row
          .medium-8.medium-centered.columns
            %figcaption
              The new website was designed to encourage visitors to browse and
              discover accommodations
              %span.break
              beyond that which they were searching for.
  .row
    .medium-8.medium-centered.columns
      %h3 Tackling the Key User Flows
      %p
        In order to prioritize the work that needs to be done, we evaluated
        the key user flows of the beta site, that of a Guest looking for
        accommodation, and a Host looking to list his apartment.

      %h3 Encouraging Discovery
      %p
        As a Guest, we wanted to know what was key in determining if you
        would stay at a local’s home? From travelmob’s user feedback, users
        were apprehensive about making bookings through the website. To
        alleviate this, we improved the showcase of accommodations on the
        homepage; and made the call to action a lot more prominent,
        encouraging users to discover the potential accommodation types
        available on the website.
  .row
    .medium-10.medium-centered.columns
      %blockquote
        The introduction of the banner section also allowed curated
        accommodations and introduced a space for showcasing promotions and
        deals, improving the reach and appeal to browsing and serious users
        alike.
  .row
    .medium-8.medium-centered.columns
      %p
        The introduction of a cleaner interface to the search experience,
        with improved typography and colors, allowed users to focus on the
        listing results. The experience tags feature from travelmob has also
        been designed in a less intrusive manner where users can quickly
        discover the kind of experiences an accommodation offers.

  .row
    .image-container.before-header.medium-12.medium-centered.columns
      %figure
        %img(src="/assets/img/case-study-travelmob-screens.jpg")
        .row
          .medium-8.medium-centered.columns
            %figcaption
              A new search experience was introduced, allowing users to
              focus on the listings
              %span.break
              and quickly find what they were looking for.
  .row
    .medium-8.medium-centered.columns
      %h3 An Easier Listing Experience
      %p
        For Hosts, the need was in streamlining the experience of listing
        their accommodations on the website. The beta site had a single page
        form and users were dropping off and not completing the process. To
        balance the numerous fields they were required to input, we went
        with a step approach, breaking the form into 3 key steps, and
        conveying to users where they were at in the sign up process. This
        made the task less daunting, and users were able to gauge with the
        help of the step indicator, how far they were into completing the
        process.

- block case_study_outcome_content
  .row
    .medium-8.medium-centered.columns
      %h2 The Outcome

      %h3 Prioritising Design Needs
      %p
        When approaching a project, there is always a tendency to execute
        on every feature and design change seeking a perfect product
        strategy. In reality, that approach is often not possible due to
        resource constraints. As such, prioritizing the design needs based
        on key user behaviors and flows will help address the larger and
        more important usability issues first which are key to the
        business.

      %h3 Close Collaboration
      %p
        The key to being able to launch in a short timeline was working
        closely with the Product and Engineering team at travelmob. As a
        design team, we were able to leverage their domain knowledge and
        experience in coming up with the solutions.

  .row
    .medium-10.medium-centered.columns
      %blockquote
        Constant communication and feedback was key to launching a
        product that clients and their customers are happy with.

- block case_study_related
  / .medium-3.columns
  /   .bellabox.work-panel
  /     %a(href="#")
  /       %i.client-logos-large-sprite.client-logos-large-bellabox(title="Bellabox") Bellabox
  .medium-3.columns.end
    .creative.work-panel
      %a(href="#{path('work_creative')}")
        %i.client-logos-large-sprite.client-logos-large-creative(title="Creative Technologies") Creative Technologies
  .medium-3.columns.end
    .indinero.work-panel
      %a(href="#{path('work_indinero')}")
        %i.client-logos-large-sprite.client-logos-large-indinero(title="inDinero") inDinero
