extends ../layouts/layout.jade

block active-nav
  - var activeNav = 'about';

block page-title
  - var pageTitle = 'About Us';

block meta-tags
  - var metaDescription = 'We are a nimble web and product design studio. Learn more about the team and what we do.';

block page-content
  include ../includes/about-header.jade

  .culture.page-section.half-padding.row
    .medium-6.columns
      h1 What We Do
      p.lead
        | Minitheory is a digital design studio, founded in 2012. We deliver
        | quality user experience, interaction and visual design for web, mobile
        | devices and software applications.
    .medium-6.columns
      h2 We have experience in
      ul
        li designing user-friendly web and software interfaces
        li prototyping new product features
        li creating new products

      p: strong We want to make software simple and useful.

      p
        | We love computers, but it’s unfortunate that some software make us
        | feel like idiots. We want to change that. We expect software to be
        | intuitively designed  – and ultimately, useful.

      blockquote
        | The computer is the equivalent of a bicycle for our minds.
        cite Steve Jobs

      h2 Guiding principles
      ol
        li Technology should make life simpler
        li Design based on how people think, work and behave
        li Design to solve problems, not to paint pretty pictures
        li Experiment, fail fast and iterate

  .meet-the-minions.row
    .align-center.medium-12.columns
      h2 Meet the Minions Behind Minitheory
  .minions.row
    .minion.medium-3.columns
      img(src='/img/about-mike.jpg', alt='Mike Chen, CEO / Co-founder, Minitheory')
      p.name Mike Chen
      p.position CEO / Co-founder
    .minion.medium-3.columns
      img(src='/img/about-junlin.jpg', alt='Lee Jun Lin, Co-founder, Minitheory')
      p.name Lee Jun Lin
      p.position Co-founder
    .minion.medium-3.columns
      img(src='/img/about-weimeng.jpg', alt='Lee Wei Meng, COO, Minitheory')
      p.name Lee Wei Meng
      p.position COO
    .minion.medium-3.columns
      img(src='/img/about-sheldon.jpg', alt='Sheldon Cheng, Frontend Developer, Minitheory')
      p.name Sheldon Cheng
      p.position Frontend Developer
    .minion.medium-3.columns
      img(src='/img/about-zenan.jpg', alt='Liu Zenan, All Round Bad Ass, Minitheory')
      p.name Liu Zenan
      p.position All Round Bad Ass
    .minion.medium-3.columns
      img(src='/img/about-charmaine.jpg', alt='Charmaine Low, Interaction Designer, Minitheory')
      p.name Charmaine Low
      p.position Interaction Designer
    .minion.medium-3.columns
      img(src='/img/about-pizza.jpg', alt='Pizza Yap, Senior Designer, Minitheory')
      p.name Pizza Yap
      p.position Senior Designer
    .minion.medium-3.columns
      img(src='/img/about-sylvia.jpg', alt='Sylvia Ng, Project Manager, Minitheory')
      p.name Sylvia Ng
      p.position Project Manager
    .minion.medium-3.columns
      img(src='/img/about-wenfeng.jpg', alt='Cham Wen Feng, Sith Apprentice, Minitheory')
      p.name Cham Wen Feng
      p.position Sith Apprentice
    .minion.medium-3.columns.end
      a(href='mailto:jobs@minitheory.com')
        img(src='/img/about-youarenext.png', alt='Are you the next?')
