doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Foundation
    link(rel='stylesheet', href='css/app.css')
    script(src='../bower_components/modernizr/modernizr.js')
  body
    header
      .row
        .medium-7.columns
          a.logo(href='/') Minitheory
        .medium-5.columns
          ul.site-navigation
            li: a(href='#') Work
            li: a(href='#') Services
            li: a(href='#') Process
            li: a(href='#') About
            li: a.button(href='#') Get in touch

    .row.collapse.hero--row
      .medium-12.columns
        section.hero
          .hero--text-container
            h2.hero--text We make software simple.

    section.services.page-section
      .row
        .medium-12.columns
          h2 Our services
          p We cover anything needed for your comprehensive brand experience.
      .row
        .medium-4.columns
          h3 Service 1
          p Lorem ipsum dolor sit amet, vis iudico legere cu. Ad mollis offendit consectetuer sit. No cetero accusam facilisis eos, commodo torquatos et cum, dicam accusam ut vim.
        .medium-4.columns
          h3 Service 2
          p Lorem ipsum dolor sit amet, vis iudico legere cu. Ad mollis offendit consectetuer sit. No cetero accusam facilisis eos, commodo torquatos et cum, dicam accusam ut vim.
        .medium-4.columns
          h3 Service 3
          p Lorem ipsum dolor sit amet, vis iudico legere cu. Ad mollis offendit consectetuer sit. No cetero accusam facilisis eos, commodo torquatos et cum, dicam accusam ut vim.
      .row
        .medium-12.columns
          a.button(href='#') Find out more

    section.clients.page-section
      .row
        .medium-6.medium-centered.columns
          h2 Clients we've worked with
          p
            | Beauty, insurance, travel, ecommerce, startups &ndash; and every
            | business in between &ndash; trust in Minitheory to craft meaningful
            | digital experiences.
          p Are you next?

      .row
        .medium-12.columns
          ul.clients-list
            li bellabox
            li creative
            li evernote
            li aon
            li neo
            li travelmob
            li shopabout
            li indinero
            li skinnymint
            li mesitis
            li e27
            li daylight studios
            li ideo
            li packnada
            li mti

    section.testimonials.page-section
      .row
        .medium-4.columns
          blockquote
            | “The Minitheory team has been instrumental in helping us launch
            | One Cent Movement. They bring together a rare combination of
            | client understanding and design sensitivity which makes working
            | with them a great experience.”
            cite
              | Sung, Movement Director<span class="hide">, </span>
              span.break one cent movement
        .medium-4.columns
          blockquote
            | "The guys at Minitheory are bunch hardworking and talented
            | individuals who really understand the mechanics behind good
            | design. During the course of our work, they have spent time really
            | understand our problems and providing designs that not only look
            | great, but solve the real pain point faced by our users."
            cite
              | Mohan, Founder<span class="hide">, </span>
              span.break e27
        .medium-4.columns
          blockquote
            | "Very impressed by the initiative and thought leadership that
            | Minitheory is bringing to the table in Singapore when it comes to
            | UX. Their design methodology is clear and effective – and I’m
            | really pleased with the results!"
            cite
              | Joyce Huang<span class="hide">, </span>
              span.break Microsoft Singapore

    section.contact.page-section
      .row
        .medium-12.columns
          h2 Let's make things simple.
          a.button(href='#') Work with us

    script(src='../bower_components/jquery/dist/jquery.min.js')
    script(src='../bower_components/foundation/js/foundation.min.js')
    script(src='js/app.js')
