doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Foundation
    link(rel='stylesheet', href='css/app.css')
    script(src='../bower_components/modernizr/modernizr.js')
  body
    header
      .row
        .medium-7.columns
          a.logo(href='/') Minitheory
        .medium-5.columns
          ul.site-navigation
            li: a(href='#') Work
            li: a(href='#') Services
            li: a(href='#') Process
            li: a(href='#') About
            li: a.button(href='#') Get in touch
          
          
    script(src='../bower_components/jquery/dist/jquery.min.js')
    script(src='../bower_components/foundation/js/foundation.min.js')
    script(src='js/app.js')
