extends ./layouts/layout.jade

block meta-tags
  - var metaDescription = 'We are a digital design studio that delivers quality user interaction and user interface design for the web, mobile devices and apps.'

block page-content
  .row.collapse.hero--row
    .medium-12.columns
      section.hero
        .hero--text-container
          h2.hero--text We make software simple.

  section.services.page-section
    .row
      .medium-12.columns
        h2 Design services for product teams
        p We design based on how people think and behave.
    .row
      .medium-3.columns
        h3 Research & Analytics
        p Good solutions are informed by well-defined problems. Studying your users and data tells you what’s wrong and why.
      .medium-3.columns
        h3 Interface Design
        p Frustrated customers directly affect your bottom line. Reduce friction and create delight by making your product easy to use.
      .medium-3.columns
        h3 Prototyping
        p Building a new product or feature can be risky. We validate ideas so you cut costs and get immediate answers on feasibility.
      .medium-3.columns
        h3 Product Strategy
        p Brilliant execution is not enough. Build the right features at the right time by balancing mind business, design and technology.
    .row
      .medium-12.columns
        p
        a.button(href='/services.html') Find out more

  section.clients.page-section.theme-blue-gradient
    .row
      .medium-8.medium-centered.columns
        h2 Clients we've worked with
        p We’ve worked in beauty, insurance, travel, e-commerce, startups and more.

    .row
      .medium-12.columns
        ul.clients-list
          li: a(href='http://bellabox.com.au', target="_blank", rel="nofollow")
            i.client-logos-sprite.client-logos-bellabox(title='Bellabox') Bellabox
          li: a(href='http://sg.creative.com', target="_blank", rel="nofollow")
            i.client-logos-sprite.client-logos-creative(title='Creative Technology') Creative Technology
          li: a(href='https://evernote.com', target="_blank", rel="nofollow")
            i.client-logos-sprite.client-logos-evernote(title='Evernote') Evernote
          li: a(href='http://www.aon.com/reinsurance', target="_blank", rel="nofollow")
            i.client-logos-sprite.client-logos-aon(title='Aon Benfield') Aon Benfield
          li: a(href='http://www.neo.com', target="_blank", rel="nofollow")
            i.client-logos-sprite.client-logos-neo(title='Neo Innovation') Neo Innovation
          li: a(href='http://sg.travelmob.com', target="_blank", rel="nofollow")
            i.client-logos-sprite.client-logos-travelmob(title='travelmob') travelmob
          li: a(href='http://www.shopabout.sg', target="_blank", rel="nofollow")
            i.client-logos-sprite.client-logos-shopabout(title='ShopAbout') ShopAbout
          li: a(href='https://indinero.com', target="_blank", rel="nofollow")
            i.client-logos-sprite.client-logos-indinero(title='inDinero') inDinero
          li: a(href='https://www.skinnymint.com', target="_blank", rel="nofollow")
            i.client-logos-sprite.client-logos-skinnymint(title='SkinnyMint') SkinnyMint
          li: a(href='https://mesitis.com', target="_blank", rel="nofollow")
            i.client-logos-sprite.client-logos-mesitis(title='Mesitis Capital') Mesitis Capital
          li: a(href='http://e27.co', target="_blank", rel="nofollow")
            i.client-logos-sprite.client-logos-e27(title='e27') e27
          li: a(href='http://www.day-lightstudios.com', target="_blank", rel="nofollow")
            i.client-logos-sprite.client-logos-daylight(title='Daylight Studios') Daylight Studios
          li: a(href='http://www.ideo.com/sg', target="_blank", rel="nofollow")
            i.client-logos-sprite.client-logos-ideo(title='IDEO') IDEO
          li: a(href='http://packnada.com', target="_blank", rel="nofollow")
            i.client-logos-sprite.client-logos-packnada(title='Packanada') Packanada
          li: a(href='http://www.mti.gov.sg', target="_blank", rel="nofollow")
            i.client-logos-sprite.client-logos-mti(title='Ministry of Trade and Industry, Singapore') Ministry of Trade and Industry, Singapore

  section.testimonials.page-section
    .row
      .medium-4.columns
        blockquote
          | “We lucked out with Minitheory. They brought the vision to fruition
          | through iterative designs. The close partnership made the entire project
          | a joy to work on.”
          cite
            img(src="img/testimonial-lindsey.jpg")
            | Lindsey Chia, Creative Technology
      .medium-4.columns
        blockquote
          | "Minitheory was instrumental in our early growth phase,
          | taking the product from beta to launch. Excellent work attitude
          | and attention to detail."
          cite
            img(src="img/testimonial-turochas.jpg")
            | Turochas Fuad, travelmob
      .medium-4.columns
        blockquote
          | "Mike and the Minitheory team are awesome. I've worked with them
          | since the very beginning and they get things done!"
          cite
            img(src="img/testimonial-jessica.jpg")
            | Jessica Mah, inDinero
